<!DOCTYPE html>
<html lang="en">
    <head>  
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <title>Index Page</title>
       <link rel="stylesheet" href="/static/index.css">
   </head>
   <body>
        <div class="container">
            <h1>HOME</h1>
            <button type="button" class="btn btn-primary create-button" style="background-color: #000000;" onclick="location.href='/login'">Login</button>
            <div class="form-group">
                <form action="/" method="get">
                    <input type="text" class="form-control searchbox" name="search" value="{{search}}" id="search"/>
                    <button type="submit" class="btn btn-primary searchbutton" style="background-color: #000000;">Search</button>
                </form>
            </div>
        </div>
   </body>
</html>
