h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.create-button {
    height: 40px;
    width: 100px;
    position: absolute;
    left: 95%;
    top: 5%;
    transform: translate(-50%, -50%);
}

.searchbox{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.searchbutton{
    position: absolute;
    left: 85%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin-left: 40px;
}